.main {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.77);
}
.container {
    width: 1100px;
    margin: 0 auto;
    /* background-color: rgba(0, 0, 0, 0.67); */
    height: 100%;
    padding: 10px;
}
.image {
    position: fixed;
    width: 100%;
    z-index: -1;
    /* opacity: 0.8; */
}