.main {
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.182);
    margin-bottom: 20px;
    width: 49%;
}
.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.182);
    width: 100%;
}
.header h1{ 
    margin-right: 30px;
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
}
.header h3{
    align-items: center;
}
.results {
}
.results p{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.result {
    background-color: white;
    padding: 5px 10px;
    color: black;
    border-radius: 5px; 
    margin-left: 5px;
}
.editPanel {
    display: flex;
    align-items: center;
}
.btn {
    font-size: 33px;
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
}
.btn:hover {
    opacity: 0.7;
    cursor: pointer;
}